<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">
  <property name="severity" value="warning"/>
  <module name="TreeWalker">
    <property name="tabWidth" value="4"/>
    <module name="JavadocMethod">
      <property name="severity" value="warning"/>
      <property name="scope" value="protected" />
      <property name="allowMissingParamTags" value="true" />
      <property name="allowMissingReturnTag" value="true" />
      <property name="allowMissingPropertyJavadoc" value="true" />
      <property name="tokens" value="METHOD_DEF" />
      <property name="logLoadErrors" value="true"/>
      <property name="suppressLoadErrors" value="true"/>
    </module>
    <module name="JavadocType">
      <property name="scope" value="protected" />
      <property name="allowMissingParamTags" value="true" />
      <property name="severity" value="warning"/>
    </module>
    <module name="JavadocVariable">
      <property name="severity" value="warning"/>
      <property name="excludeScope" value="private"/>
    </module>
    <module name="JavadocStyle">
      <property name="severity" value="warning"/>
    </module>
    <module name="ConstantName">
      <property name="severity" value="warning"/>
    </module>
    <module name="LocalFinalVariableName">
      <property name="severity" value="warning"/>
    </module>
    <module name="LocalVariableName">
      <property name="severity" value="warning"/>
      <property name="format" value="^[a-z][a-zA-Z0-9_]*$"/>
    </module>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="PackageName"/>
    <module name="ParameterName">
      <property name="format" value="^[a-z][a-zA-Z0-9_]*$"/>
    </module>
    <module name="StaticVariableName">
      <property name="severity" value="warning"/>
    </module>
    <module name="TypeName"/>
    <module name="AvoidStarImport">
      <property name="severity" value="warning"/>
    </module>
    <module name="IllegalImport">
    	<property name="severity" value="error" />
    	<property name="illegalPkgs" value="sun, org.log4j" />
    </module>
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>
    <module name="LineLength">
      <property name="severity" value="info"/>
      <property name="max" value="120"/>
      <property name="tabWidth" value="4"/>
    </module>
    <module name="MethodLength">
    	<property name="max" value="50" />
    </module>
    <module name="ParameterNumber"/>
    <module name="EmptyForIteratorPad"/>
    <module name="MethodParamPad">
      <property name="severity" value="info"/>
    </module>
    <module name="NoWhitespaceAfter">
      <property name="severity" value="info"/>
      <property name="tokens" value="BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS"/>
    </module>
    <module name="NoWhitespaceBefore">
      <property name="severity" value="info"/>
      <property name="tokens" value="POST_DEC,POST_INC"/>
    </module>
    <module name="OperatorWrap">
      <property name="severity" value="info"/>
    </module>
    <module name="ParenPad">
      <property name="severity" value="info"/>
    </module>
    <module name="TypecastParenPad"/>
    <module name="WhitespaceAfter">
      <property name="severity" value="warning"/>
      <property name="tokens" value="COMMA,SEMI"/>
    </module>
    <module name="WhitespaceAround">
      <property name="severity" value="info"/>
      <property name="tokens" value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,RCURLY,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,LITERAL_ASSERT,TYPE_EXTENSION_AND"/>
    </module>
    <module name="ModifierOrder">
      <property name="severity" value="warning"/>
    </module>
    <module name="RedundantModifier">
      <property name="severity" value="warning"/>
    </module>
    <module name="AvoidNestedBlocks"/>
    <module name="EmptyBlock">
      <property name="severity" value="warning"/>
    </module>
    <module name="LeftCurly">
      <property name="severity" value="warning"/>
      <property name="maxLineLength" value="110"/>
    </module>
    <module name="NeedBraces">
      <property name="severity" value="warning"/>
    </module>
    <module name="RightCurly">
      <property name="severity" value="info"/>
    </module>
    <module name="AvoidInlineConditionals">
      <property name="severity" value="ignore"/>
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="DoubleCheckedLocking">
      <property name="severity" value="info"/>
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="HiddenField">
      <property name="severity" value="warning"/>
      <property name="ignoreConstructorParameter" value="true"/>
      <property name="ignoreSetter" value="true"/>
    </module>
    <module name="IllegalInstantiation">
      <property name="severity" value="warning" />
      <property name="classes" value="java.lang.Boolean, java.lang.Long, java.lang.Integer, java.lang.Char" />
    </module>
    <module name="InnerAssignment"/>
    <module name="MagicNumber">
      <property name="severity" value="info"/>
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="info"/>
    </module>
    <module name="MissingSwitchDefault">
      <property name="severity" value="warning"/>
    </module>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="DesignForExtension">
      <property name="severity" value="ignore"/>
      <metadata name="com.atlassw.tools.eclipse.checkstyle.lastEnabledSeverity" value="info"/>
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="FinalClass"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="InterfaceIsType"/>
    <module name="VisibilityModifier">
      <property name="packageAllowed" value="true"/>
      <property name="protectedAllowed" value="true"/>
    </module>
    <module name="ArrayTypeStyle">
      <property name="severity" value="warning"/>
    </module>
    <module name="FinalParameters">
      <property name="severity" value="warning"/>
    </module>
    <module name="TodoComment">
      <property name="severity" value="info"/>
      <property name="format" value="TODO|HACK|FIXME|XXX|MISSING" />
      <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
    </module>
    <module name="UpperEll"/>
    <module name="NoWhitespaceBefore">
      <property name="severity" value="warning"/>
      <property name="allowLineBreaks" value="true"/>
      <property name="tokens" value="SEMI,DOT"/>
      <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="Semicolon and Dot operator"/>
    </module>
      <module name="SuperClone" />
	  <module name="SuperFinalize" />
	  <module name="JavaNCSS">
	  	<property name="severity" value="warning" />
	  	<property name="methodMaximum" value="30" />
	  </module>
	  <module name="NPathComplexity">
	  	<property name="severity" value="info"/>
	  	<property name="max" value="200"/>
	  </module>
	  <module name="FallThrough">
	    <property name="severity" value="error"/>
	  </module>
	  <module name="CyclomaticComplexity">
	  	<property name="max" value="10"/>
	  </module>
	  <module name="EqualsAvoidNull">
	  	<property name="severity" value="warning"/>
	  </module>
	  <module name="DeclarationOrder"/>

	  <module name="UncommentedMain" />
  	  <module name="StringLiteralEquality">
	  	<property name="severity" value="error" />
  	  </module>
  


	  <!-- For SuppressionCommentFilter -->	  
	  <module name="FileContentsHolder"/>
	  
  </module>
  <module name="FileTabCharacter">
    <property name="severity" value="ignore"/>
    <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
  </module>
  <module name="NewlineAtEndOfFile">
    <property name="severity" value="warning"/>
  </module>
  <module name="Translation"/>
  <module name="RegexpSingleline">
    <metadata name="net.sf.eclipsecs.core.comment" value="Trailing spaces"/>
    <property name="severity" value="ignore"/>
    <property name="format" value="\s+$"/>
    <property name="message" value="Line has trailing spaces."/>
    <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit"/>
  </module>
  <module name="RegexpSingleline">
    <metadata name="net.sf.eclipsecs.core.comment" value="Deny System.out.println()"/>
    <property name="format" value="^.*System\.(out|err)\.print.*$"/>
    <property name="message" value="Illegal usage of System.out.println() - Use logger instead"/>
  </module>
  <module name="RegexpSingleline">
    <metadata name="net.sf.eclipsecs.core.comment" value="Deny printStackTrace()"/>
    <property name="format" value="^.*printStackTrace\(\).*$"/>
    <property name="message" value="Illeagal usage of printStackTrace - Use logger instead"/>
  </module>
  <module name="SuppressionCommentFilter"/>
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CSOFF\: ([\w|]+)"/>
    <property name="onCommentFormat" value="CSON\: ([\w|]+)"/>
    <property name="checkFormat" value="$1"/>
  </module>
  <module name="SuppressWithNearbyCommentFilter">
    <property name="commentFormat" value="CHECKSTYLE: IGNORE ([\w|.]+) FOR (NEXT | )?(\d+)( LINES?)?"/>
    <property name="checkFormat" value="$1"/>
    <property name="influenceFormat" value="$3"/>
  </module>
</module>
